@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');/* font-family: 'Pathway Extreme', sans-serif; */
/* En este archivo solo deverian existir :root's */
:root {
    font-family: 'Pathway Extreme', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    margin: 0;
    padding: 0;

    /* Las variaciones de temas que tiene en cuenta la aplicacion de forma automatica */
    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Los colores especificados para el tema oscuro */
    --primary-color: #7661E8;
    --secondary-color: #3A3845;
    --alter-color: #D9D9D9;
    --alter-color-two: #F9F9F9;

    /* background-color: #242424; // no se que color deberia tener el fondo de toda la aplicacion */
    /* color: rgba(255, 255, 255, 0.87); ni la letra */
}

@media (prefers-color-scheme: light) {
    :root {
        /* color: #213547; */
        /* background-color: #ffffff; */
        /* Aqui las variaciones para el tema claro */
        --primary-color: #7661E8;
        --secondary-color: #3A3845;
        --alter-color: #D9D9D9;
        --alter-color-two: #F9F9F9;
    }
}

/* Y esto que puta vega hace aqui?! */
.share-title {
    padding: 15px;
    text-align: center;
    color: var(--secondary-color);
}